*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}
.box{
    width: 600px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
    margin-top: 100px;
}
img{
    width: 150px;
    margin: 20px;
}
.a{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.a1{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: orange;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    transform: rotateZ(5deg);
}
.b{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 900;
}
.c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.txt{
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 3px dashed orange;
    outline: none;
}
.btn{
    width: 90px;
    height: 35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    transform: rotateZ(8deg);
    cursor: pointer;
	margin-left: 15px;
}
ul{
    width: 300px;
    margin: 0 150px;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}
.d{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.rotate {
	background-color: #fe7345;
	transform: rotateX(180deg);
	/* transform: rotateX(-180deg); */
	transition: 0.5s;
	text-decoration: line-through;
    color: white;
}
.pp{
    padding: 8px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}
.pp:hover{
    color: #ffffff;
	background-color: #fe7345;
}